{{extend './_layouts/home.html'}} {{block 'title'}}{{'网上书店'}}{{/block}} {{block 'body'}}
<div id="pagebody">
    <div id="bleft">
        <div id="classify">
            <h3>图书分类</h3>
            <div>
                <ul id="ff">
                    <li><a href="/items/Liter?type=文学">文学</a> </li>
                    <li><a href="/items/Art?type=艺术">艺术</a></li>
                    <li><a href="/items/War?type=军事">军事</a></li>
                    <li><a href="/items/Fiction?type=小说">小说</a></li>
                    <li><a href="/items/Science?type=科幻">科幻</a></li>
                    <li><a href="/items/Econ?type=经济">经济</a></li>
                </ul>
            </div>
        </div>
        <div id="hot">
            <h3>畅销书籍</h3>
            <ul>

                <li>
                    <img src="/upload/图片21.png" alt="">
                    <p class="author">作者：刘慈欣</p>
                    <p class="brief">简介：作品讲述了地球人类文明和三体文明的信息交流、生死搏杀及两个文明在宇宙中的兴衰历程。其第一部经过刘宇昆翻译后获得了第73届雨果奖最佳长篇小说奖</p>
                </li>



            </ul>
        </div>
    </div>
    <div id="bmiddle">
        <div id="banner">
            <div id="banner_img">
                <a href="#" target="_blank"><img class="six  active" src="/public/img/2.png" width="1118px" height="287px" alt=""></a>
                <a href="#" target="_blank"><img class="six " src="/public/img/3.png" width="1118px" height="287px" alt=""></a>
                <a href="#" target="_blank"><img class="six " src="/public/img/4.png" width="1118px" height="287px" alt=""></a>
                <a href="#" target="_blank"><img class="six" src="/public/img/5.png" width="1118px" height="287px" alt=""></a>
                <a href="#" target="_blank"><img class="six " src="/public/img/6.png" width="1118px" height="287px" alt=""></a>
            </div>
            <ul style="margin-top:15px;">
                <li><input class="sixz lactive" type="button" value="1"></li>
                <li><input class="sixz " type="button" value="2"></li>
                <li><input class="sixz " type="button" value="3"></li>
                <li><input class="sixz " type="button" value="4"></li>
                <li><input class="sixz " type="button" value="5"></li>
            </ul>


        </div>

        </script>
        <div id="productbox">
            <div class="shang">
                <h4>你的位置 》管理用户</h4>
                <p style="position: absolute;left:190px;top:-8px;font-size: 15px;"> <a href="/items/Home"> 返回首页面</a></p>
            </div>
            <div>
                <table class="gouwulist">
                    <tr>
                        <th>用户名</th>
                        <th>电话</th>
                        <th>性别</th>
                        <th>地区</th>
                        <th>操作</th>
                    </tr>
                    {{each User}}
                    <tr>
                        <td>{{$value.nickname}}</td>
                        <td>{{$value.tel}}</td>
                        <td>{{$value.gender}}</td>
                        <td>{{$value.place}}</td>
                        <td class="txtcenter">
                            <a href="/Deluser?id={{$value._id}}"><input type="button" value="删除"></a>
                        </td>
                    </tr>
                    {{/each}}
                </table>

            </div>
        </div>


    </div>



</div>
{{/block}}