<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登陆页面</title>
    <link rel="stylesheet" href="/public/css/add.css">

</head>

<body>
    <div id="header">
        <img src="/public/img/logo.jpg" style="width: 100px;" alt="">
        <h1>网上书店</h1>
        <p> <a href="/items/Home"> 退出</a></p>
    </div>
    <div class="wrap">
        <!-- enctype="multipart/form-data" -->
        <p>书籍添加</p>
        <form action='/addbook/new' method='post' class='wsh' enctype="multipart/form-data">

            <input style="position: absolute;left:24%;top:80px;" type="file" name="logo">
            <div class="form-group " style="position: absolute;left:20%;top:150px; ">
                <label for=" ">书名：</label>
                <input type="text " class="form-control " id=" " name='name'>
            </div>
            <div class="form-group " style="position: absolute;left:20%;top:220px; ">
                <label for=" ">作者：</label>
                <input type="text " class="form-control " id=" " name='author'>
            </div>
            <div class="form-group " style="position: absolute;left:20%;top:290px; ">
                <label for=" ">类型：</label>
                <input type="text " id=" " name='btype' class="form-control ">
            </div>

            <div class="form-group " style="position: absolute;left:20%;top:360px; ">
                <label for=" ">价格：</label>
                <input type="text " class="form-control " id=" " name='price'>
            </div>
            <div class="form-group " style="position: absolute;left:20%;top:430px; ">
                <label for=" ">数量：</label>
                <input type="text " class="form-control " id=" " name='num'>
            </div>
            <button style="width:120px;height:40px;position: absolute;left:40%;top:500px;border-radius: 2%; " type="submit " class="btn btn-default ">Submit</button>
        </form>



    </div>

</body>

</html>