{{extend './_layouts/home.html'}} {{block 'title'}}{{'网上书店'}}{{/block}} {{block 'body'}}
<div id="pagebody">
    <div id="bleft">
        <div id="classify">
            <h3>图书分类</h3>
            <div>
                <ul id="ff">
                    <li><a href="/items/Liter?type=文学">文学</a> </li>
                    <li><a href="/items/Art?type=艺术">艺术</a></li>
                    <li><a href="/items/War?type=军事">军事</a></li>
                    <li><a href="/items/Fiction?type=小说">小说</a></li>
                    <li><a href="/items/Science?type=科幻">科幻</a></li>
                    <li><a href="/items/Econ?type=经济">经济</a></li>
                </ul>
            </div>
        </div>
        <div id="hot">
            <h3>畅销书籍</h3>
            <ul>

                <li>
                    <img src="/upload/图片21.png" alt="">
                    <p class="author">作者：刘慈欣</p>
                    <p class="brief">简介：作品讲述了地球人类文明和三体文明的信息交流、生死搏杀及两个文明在宇宙中的兴衰历程。其第一部经过刘宇昆翻译后获得了第73届雨果奖最佳长篇小说奖</p>
                </li>

                <li>
                    <img src="/upload/图片20.png" alt="">
                    <p class="author">作者：张寒寺</p>
                    <p class="brief">简介：进入“记忆时代”，人类的记忆可以存储、复制、切除，甚至售卖：人们只需购买记忆软体，发出指令导入“回忆”，就可以随意体验未曾经历过的人生。</p>
                </li>
                <li>
                    <img src="/upload/图片9.png" alt="">
                    <p class="author">作者：余秋雨</p>
                    <p class="brief">简介：一部“经验论证型”的著作，由古今中外的大量经验之谈来论证这门学问的存在，并赋予结构，赋予观点，赋予实例，艺术表现也就找到了美学自觉。</p>
                </li>
                <li>
                    <img src="/upload/图片2.png" alt="">
                    <p class="author">作者：梭罗</p>
                    <p class="brief">简介：在四季循环更替的过程中，详细记录了梭罗内心的渴望、冲突、失望和自我调整，以及调整过后再次渴望的复杂的心路历程，几经循环，直到最终实现为止</p>
                </li>
                <li>
                    <img src="/upload/图片16.png" alt="">
                    <p class="author">作者：陈楸帆</p>
                    <p class="brief">简介：这些故事迷幻、荒诞，具有魔力般的新鲜感。植物人与蠕虫的意识互相融合；女孩的父亲变成一只白毛蓝眼的波斯猫；天生生理缺陷的女孩却成为G女神</p>
                </li>
                <li>
                    <img src="/upload/图片27.png" alt="">
                    <p class="author">作者：经济学人</p>
                    <p class="brief">简介：从企业的排名到企业的价值，从公司的吸引力到高管的薪酬，从国际支付到广告收入，从臭名卓著的商界人士到主要的证券市场，从股市的行情到黄金的状况</p>
                </li>
                <li>
                    <img src="/upload/图片4.png" alt="">
                    <p class="author">作者：李继宏译</p>
                    <p class="brief">简介：翻开本书，你将看到遥远星球上的小王子，与美丽而骄傲的玫瑰吵架负气出走；在各星球漫游中，小王子遇到了傲慢的国王、酒鬼、惟利是图的商人，死守教条的地理学家</p>
                </li>
                <li>
                    <img src="/upload/图片24.png" alt="">
                    <p class="author">作者：(德)保罗·卡雷尔著</p>
                    <p class="brief">简介：从东线战事爆发日，也就是1941年6月22日的“巴巴罗萨”行动开始，先后讲述了发生在斯摩棱斯克、莫斯科、列宁格勒、罗斯托夫、斯大林格勒等地的战斗</p>
                </li>
                <li>
                    <img src="/upload/图片18.png" alt="">
                    <p class="author">作者：[日] 太宰治</p>
                    <p class="brief">简介：以“我”看到叶藏的三张照片后的感想开头，中间是叶藏的三篇手记，而三篇手记与照片对应，分别介绍了叶藏幼年、青年和壮年时代的经历，描述了叶藏是如何一步一步走向丧失为人资格的道路的</p>
                </li>
                <li>
                    <img src="/upload/图片3.png" alt="">
                    <p class="author">作者：沈从文</p>
                    <p class="brief">简介：以20世纪30年代川湘交界的边城小镇茶峒为背景，以兼具抒情诗和小品文的优美笔触，描绘了湘西地区特有的风土人情；借船家少女翠翠的纯爱故事</p>
                </li>



            </ul>
        </div>
    </div>
    <div id="bmiddle">
        <div id="banner">
            <div id="banner_img">
                <a href="#" target="_blank"><img class="six  active" src="/public/img/2.png" width="1118px" height="287px" alt=""></a>
                <a href="#" target="_blank"><img class="six " src="/public/img/3.png" width="1118px" height="287px" alt=""></a>
                <a href="#" target="_blank"><img class="six " src="/public/img/4.png" width="1118px" height="287px" alt=""></a>
                <a href="#" target="_blank"><img class="six" src="/public/img/5.png" width="1118px" height="287px" alt=""></a>
                <a href="#" target="_blank"><img class="six " src="/public/img/6.png" width="1118px" height="287px" alt=""></a>
            </div>
            <ul style="margin-top:15px;">
                <li><input class="sixz lactive" type="button" value="1"></li>
                <li><input class="sixz " type="button" value="2"></li>
                <li><input class="sixz " type="button" value="3"></li>
                <li><input class="sixz " type="button" value="4"></li>
                <li><input class="sixz " type="button" value="5"></li>
            </ul>


        </div>


        <div class="editor">
            <div style="float:left">
                <a href="/buts/Addbook/new"> <button style="width:110px;height:50px">添加图书</button></a>
            </div>
            <div style="float:left">
                <a href="/buts/Deluser/new"> <button style="width:110px;height:50px">管理用户</button></a>
            </div>

            <div id="dis">
                <ul>
                    {{each All}}
                    <li>
                        <div class="change">
                            <img src="/upload/{{$value.path}}" alt="">
                            <div class="bookInfo">
                                <div>
                                    <p>书名：{{$value.name}}</p>
                                </div>
                                <div>
                                    <p>作者： {{$value.author}}</p>
                                </div>
                                <div>
                                    <p>类型：{{$value.btype}}</p>
                                </div>
                                <div>
                                    <p>价格：{{$value.price}}</p>
                                </div>
                                <div>
                                    <p>数量：{{$value.num}}</p>
                                </div>
                                <div><button style="  bottom: 30px;left:20px;"><a href="/buts/Bookedit/edit?id={{$value._id}}">编辑</a> </button></div>
                                <div><a href="/delete?id={{$value._id}}"><button style="bottom: 30px;left:90px;">下架</button></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>





    </div>

</div>
{{/block}}