<div id="footer">
    <div id="fnav">
        <ul>
            <li class="listnav">
                <h4 style="color:red;">关于我们</h4>
                <ul>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>发展经历</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>联系方式</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>公司介绍</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>企业文化</a></li>
                </ul>
            </li>

            <li class="listnav">
                <h4 style="color:red;">付款方式</h4>
                <ul>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>银行汇款</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>在线支付</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>银行汇款</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>公司转账</a></li>
                </ul>
            </li>

            <li class="listnav">
                <h4 style="color:red;">送货方式</h4>
                <ul>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>上门自提</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>EMS快递</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>快递发货</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>平邮发货</a></li>
                </ul>
            </li>
            <li class="listnav">
                <h4 style="color:red;">售后服务</h4>
                <ul>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>质保承诺</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>退换货物</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>价格保护</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>返修申请</a></li>
                </ul>
            </li>
            <li class="listnav">
                <h4 style="color:red;">购物帮助</h4>
                <ul>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span> 用户等级</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>积分获取与使用</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>购物流程</a></li>
                    <li><a href=""><span style="color:rgb(219, 72, 72);">&gt;</span>常见问题</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>